APP_ENV=development
APP_PORT=8080

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=socialqueue
POSTGRES_PASSWORD=socialqueue
POSTGRES_DB=socialqueue

REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0